openai
pyperclip
gpt4all
pypdf2
langchain
tiktoken
faiss-cpu
duckduckgo-search
duckpy
sentence_transformers
pypdf
llama-cpp-python
pdf2image
chromadb
pygpt4all
convert
llama-cpp-python==0.1.48
pyllamacpp==2.1.3
poppler-utils